<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>深绘demo网站</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="baidu-site-verification" content="GOPjfm49Yc"/>
    <link rel="shortcut icon" href="https://resources.deepdraw.biz/img/favicon.ico" type="image/x-icon">
    <!--[if IE 9]>
    <link rel="stylesheet" href="//aip.bdstatic.com/portal/dist/1564665901746/css/ie9.style.css">
    <![endif]-->
    <link rel="stylesheet" href="//aip.bdstatic.com/portal/dist/1564665901746/css/base.style.css">
    <link rel="stylesheet" href="//aip.bdstatic.com/portal/dist/1564665901746/css/secondary/face.style.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8b973192450250dd85b9011320b455ba";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style>
        .ai-content {
            margin-top: 0;
        }

        .tech-prod-poster-1 {
            background: url("https://deepdraw-test.oss-cn-hangzhou.aliyuncs.com/pic/xiaorenwu.png");
        }

        .tech-prod-poster-2 {
            background: url("https://deepdraw-test.oss-cn-hangzhou.aliyuncs.com/pic/xiaoyiwu.png");
        }

        .tech-prod-poster-3 {
            background: url("https://deepdraw-test.oss-cn-hangzhou.aliyuncs.com/pic/xiaofenlei.png");
        }

        .tech-prod-poster-4 {
            background: url("https://deepdraw-test.oss-cn-hangzhou.aliyuncs.com/pic/xiaojianhuang.png");
        }

        .tech-prod-poster-7 {
            background: url("https://deepdraw-test.oss-cn-hangzhou.aliyuncs.com/pic/xiaoyitu.png");
        }

        .tech-prod-poster-5 {
            background: url("https://deepdraw-test.oss-cn-hangzhou.aliyuncs.com/pic/xiaorenlian.png");
        }

        .tech-prod-poster-6 {
            background: url("https://deepdraw-test.oss-cn-hangzhou.aliyuncs.com/pic/xiaodabiao.png");
        }

        .tech-prod-poster:hover {
            cursor: pointer;
        }

        .tech-banner-shape {
            background: url("https://deepdraw-test.oss-cn-hangzhou.aliyuncs.com/pic/banner.png");
        }

    </style>
</head>
<body class="ai-platform">
<div class="ai-content" id="ai-content">
    <div class="tech-section tech-banner">
        <div class="tech-banner-shape"></div>
        <div class="tech-banner-content">
            <div class="tech-banner-title">
                D E M O 导航
            </div>
            <div class="tech-banner-info">
                本站为深绘内部使用的demo汇总网站，目前包括人脸识别、以图搜图、 智能搜图打标网页、多纬度图片分类
            </div>
        </div>
        <span class="tech-banner-box"></span>
    </div>

    <div class="tech-section tech-catalog">
        <div class="ai-container">
            <div class="tech-catalog-title">页面分类</div>
            <div class="tech-catalog-gallery">
                <div class="tech-prod-container">
                    <div class="tech-prod-item-img">
                        <div class="tech-prod-poster tech-prod-poster-1"></div>
                        <div class="tech-prod-sign tech-prod-sign-1"></div>
                    </div>
                    <div class="tech-prod-info">
                        <div class="tech-prod-name">有无人物分析结果演示demo</div>
                        <div class="tech-prod-intro">
                            用于演示判断图片中有无人物的模型返回结果
                        </div>
                        <div class="tech-prod-panel">
                        </div>
                    </div>
                </div>
                <div class="tech-prod-container">
                    <div class="tech-prod-item-img">
                        <div class="tech-prod-poster tech-prod-poster-3"></div>
                        <div class="tech-prod-sign tech-prod-sign-3"></div>
                    </div>
                    <div class="tech-prod-info">
                        <div class="tech-prod-name">多维图片分类demo</div>
                        <div class="tech-prod-intro">
                            演示图片分类模型返回的结果
                        </div>
                        <div class="tech-prod-panel">
                        </div>
                    </div>
                </div>
                <div class="tech-prod-container">
                    <div class="tech-prod-item-img">
                        <div class="tech-prod-poster tech-prod-poster-7"></div>
                        <div class="tech-prod-sign tech-prod-sign-3"></div>
                    </div>
                    <div class="tech-prod-info">
                        <div class="tech-prod-name">以图搜图结果demo</div>
                        <div class="tech-prod-intro">
                            可测试搜索相似图片模型返回结果情况
                        </div>
                        <div class="tech-prod-panel">
                        </div>
                    </div>
                </div>
                <div class="tech-prod-container">
                    <div class="tech-prod-item-img">
                        <div class="tech-prod-poster tech-prod-poster-4"></div>
                        <div class="tech-prod-sign tech-prod-sign-3"></div>
                    </div>
                    <div class="tech-prod-info">
                        <div class="tech-prod-name">鉴黄demo网站</div>
                        <div class="tech-prod-intro">
                            鉴别黄色图片，分类色情图片模型返回结果的展示
                        </div>
                        <div class="tech-prod-panel">
                        </div>
                    </div>
                </div>
                <div class="tech-prod-container">
                    <div class="tech-prod-item-img">
                        <div class="tech-prod-poster tech-prod-poster-5"></div>
                        <div class="tech-prod-sign tech-prod-sign-3"></div>
                    </div>
                    <div class="tech-prod-info">
                        <div class="tech-prod-name">人脸检索结果demo</div>
                        <div class="tech-prod-intro">
                            可测试匹配人脸模型返回结果情况
                        </div>
                        <div class="tech-prod-panel">
                        </div>
                    </div>
                </div>
                <div class="tech-prod-container">
                    <div class="tech-prod-item-img">
                        <div class="tech-prod-poster tech-prod-poster-2"></div>
                        <div class="tech-prod-sign tech-prod-sign-2"></div>
                    </div>
                    <div class="tech-prod-info">
                        <div class="tech-prod-name">有无衣物分析结果演示demo</div>
                        <div class="tech-prod-intro">
                            用于演示判断图片中有无衣物的模型返回结果
                        </div>
                        <div class="tech-prod-panel">
                        </div>
                    </div>
                </div>
                <div class="tech-prod-container">
                    <div class="tech-prod-item-img">
                        <div class="tech-prod-poster tech-prod-poster-6"></div>
                        <div class="tech-prod-sign tech-prod-sign-3"></div>
                    </div>
                    <div class="tech-prod-info">
                        <div class="tech-prod-name">搜图打标demo</div>
                        <div class="tech-prod-intro">
                            进入搜图打标登录页面
                        </div>
                        <div class="tech-prod-panel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.tech-prod-poster-1').click(function () {
            window.open("http://192.168.2.113:8000/picture/choose/");
        });
        $('.tech-prod-poster-2').click(function () {
            window.open("http://192.168.2.113:8000/picture/choosesuit/");
        });
        $('.tech-prod-poster-3').click(function () {
            window.open("http://192.168.2.113:8000/picture/search/");
        });
        $('.tech-prod-poster-4').click(function () {
            window.open("http://192.168.2.113:8000/picture/porn/");
        });
        $('.tech-prod-poster-7').click(function () {
            window.open("http://192.168.3.103:8000/result/show/");
        });
        $('.tech-prod-poster-5').click(function () {
            window.open("http://deepdraw.soutu.funkydog.club/");
        });
        $('.tech-prod-poster-6').click(function () {
            window.open("http://192.168.2.101:8000/marking/login/");
        });
    })
</script>
</body>
</html>