#org_pic {
    height: 400px;
    width: 350px;
    margin: 50px 0;
    color: #53575e;
    font-size: 30px;
    font-weight: bold;
    border: 1px #1b8ce4 solid;
    position: fixed;
}

#org_pic img {
    margin-top: 22px;
    max-height: 75%;
    max-width: 80%;
}

#comp_pic {
    float: right;
    height: auto;
    width: 75%;
    text-align: center;
    padding-left: 3%;
}

#comp_pic .pic {
    float: left;
    height: 310px;
    width: 19%;
    background-color: rgba(1, 1, 1, 0);
    margin: 70px 30px;
    position: relative;
}

#comp_pic .pic img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#submit {
    margin: 50px 50%;
    width: 80px;
    height: 45px;
    font-size: 20px;

}

.pic .option {
    margin: 10px auto 0px;
    width: 70%;
    height: 50px;
    text-align: left;
    position: absolute;
    bottom: -48px;
    left: 30%;
    letter-spacing: 5px;
}

.pic .option .radio {
    margin-top: 10px;
    font-size: 17px;
}