<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
http://aiproxy.nps.deepdraw.online/polls/analyze_str/?str={%22action%22:%22cloth%22,%22model%22:%22default%22,%22proj%22:%22yolov3%22,%22exec%22:%22online%22,%22inputparams%22:[{%22pic_url%22:%22http://deepdraw-dbr.oss-cn-hangzhou.aliyuncs.com/soutu_data/upload_imgs/10d5607f-0849-4050-8b64-67a9e2d929d7.jpg%22}]}
http://aiproxy.nps.deepdraw.online/polls/analyze_str/?str={%22action%22:%22cloth%22,%22model%22:%22default%22,%22proj%22:%22yolov3%22,%22exec%22:%22online%22,%22inputparams%22:[{%22pic_url%22:%22http://img.hznzcn.com/images/crawler/20190524/20190524051126493.jpg%22}]}

</body>
</html>
